[submodule "Libs/PopoverView"]
	path = Libs/PopoverView
	url = git://github.com/runway20/PopoverView.git
[submodule "Libs/KKGridView"]
	path = Libs/KKGridView
	url = https://github.com/kolinkrewinkel/KKGridView.git
